{% extends 'layout.html' %}

{% block content %}
  <div class="row">
    <div class="span4">
      <form id="signup_form" method="post" action="/account/signup/" autocapitalize="off" class="form-horizontal">
        <legend>注册新帐户</legend>

        <div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="dHQ087rk2dKUYe7lZ0VCxdslgUR5X79F"></div>


        <fieldset>

        <div id="div_id_username" class="control-group   &lt;bound method BoundField.css_classes of &lt;django.forms.forms.BoundField object at 0x5d7d550&gt;&gt;">
          <label for="id_username" class="control-label required-field">
        Username
      </label>

    <div class="controls">


                        <input id="id_username" type="text" name="username" maxlength="30">

                                      </div>
  </div>
        <div id="div_id_password" class="control-group   &lt;bound method BoundField.css_classes of &lt;django.forms.forms.BoundField object at 0x5d7d3d0&gt;&gt;">
          <label for="id_password" class="control-label required-field">
        Password
      </label>

    <div class="controls">


                        <input type="password" name="password" id="id_password">

                                      </div>
  </div>
        <div id="div_id_password_confirm" class="control-group   &lt;bound method BoundField.css_classes of &lt;django.forms.forms.BoundField object at 0x5d7d550&gt;&gt;">
          <label for="id_password_confirm" class="control-label required-field">
        Password (again)
      </label>

    <div class="controls">


                        <input type="password" name="password_confirm" id="id_password_confirm">

                                      </div>
  </div>
        <div id="div_id_email" class="control-group   &lt;bound method BoundField.css_classes of &lt;django.forms.forms.BoundField object at 0x5d7d3d0&gt;&gt;">
          <label for="id_email" class="control-label required-field">
        Email
      </label>

    <div class="controls">


                        <input type="text" name="email" id="id_email">

                                      </div>
  </div>
        <input type="hidden" name="code" id="id_code">



<p>点注册按钮，就表示您对我们<a href="/about/terms/">用户协议</a>和<a href="/about/privacy/">隐私政策</a>确认无误。

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">我要注册</button> &nbsp;
          </div>
        </fieldset>
      </form>


    </div>

    <div class="span4">
      <div class="row">
  <div class="offset1 span3">
    <h2 class="account-heading">使用其他平台的帐号登录</h2>

    <div class="login-image">
    <ul><li>
      <a href="/auth/signin/douban/">
        <img src="{{ static_url('images/login_douban_01.png') }}">
      </a></li><li>
      <a href="/auth/signin/sina/">
        <img src="{{ static_url('images/login_sina_01.png') }}">
      </a></li>
    </div>
  </div>
</div>    </div>
  </div>

{% endblock %}